## Settings file was created by plugin RRRCore v0.2.12
## Plugin GUID: com.alexanderstrada.rrrcore

[Features]

## Normally, non-players cannot display Hair, Beards, Skin Color, or Hair Color. Only change if you know what you are doing.
# Setting type: Boolean
# Default value: true
EnablePlayerAppearanceFeaturesForNpcs = true

